.profileLayoutContainer {
  gap: 20px;
  padding-left: 0px;
}

@media only screen and (min-width: 768px) {
  .profileLayoutContainer {
    display: flex;
  }
}

.asideContainer {
  flex: 0 0 290px;
  padding: 25px 17px 0px 17px;
  background-color: rgba(242, 242, 242, 1);
}

@media only screen and (min-width: 1130px) {
  .asideContainer {
    padding: 37px 17px 0px 17px;
  }
}

.profileLayoutTitle {
  color: var(--text-chocolate);
  font-family: var(--font-karton);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-bottom: 20px;
  text-align: center;
}

.navContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.linkItem {
  padding: 14px 0px 14px 20px;
  border-radius: 10px;
  background: white;
  text-align: center;
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

@media only screen and (min-width: 768px) {
  .linkItem {
    width: 250px;
    text-align: left;
  }
}

.linkItem:focus,
.linkItem:hover {
  background-color: rgba(246, 255, 243, 1);
}

.logoutButton {
  display: block;
  border-radius: 10px;
  padding: 14px;
  border: none;

  color: white;
  background: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.logoutButton:hover {
  background-color: #eedfcc;
  color: var(--text-chocolate);
}
