.select {
  outline: none;
  border-radius: 5px;
  background: rgba(250, 250, 250, 1);
  cursor: pointer;
}

.option {
  outline: none;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

select option:hover {
  background-color: teal;
  cursor: pointer;
}
