.LanguageSelectContainer {
  display: flex;
  gap: 5px;
}

.btn {
  all: unset;
  /* color: white; */
  /* color: var(--text-chocolate); */
  cursor: pointer;
}

.active {
  border-bottom: 1px solid white;
}
