.mapInfo {
  border: 1px solid black;
  width: 1440px;
}

.mapContainer {
  display: flex;
  width: 280px;
  height: 250px;
}

@media only screen and (min-width: 768px) {
  .mapContainer {
    width: 420px;
    height: 400px;
  }
}

@media only screen and (min-width: 1130px) {
  .mapContainer {
    width: 825px;
    height: 400px;
    margin: 0 auto;
  }
}
