.reviewsName {
  color: rgba(106, 174, 85, 1);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 2px;
}

.reviewCreated {
  margin-bottom: 8px;
  color: rgba(130, 130, 130, 1);
  font-family: var(--font-literal);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.reviewText {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.reviewItem {
  padding: 16px 0;
  border-bottom: 1px solid #e0e0e0;
}

.reviewItem:last-child {
  border-bottom: none;
}

.timeAndCity {
  display: flex;
  gap: 15px;
}

.ratingAndName {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
