.acardion {
  list-style: none;

  margin-bottom: 50px;
  background-color: rgba(249, 248, 251, 1);
  border-radius: 7px;

  /* display: flex;
  gap: 20px; */
  flex-direction: column;
}

.acardionItem {
  margin-bottom: 16px;
  background-color: white;
  border-radius: 7px;
}

.acardionHeader {
  position: relative;
  width: 100%;
  padding: 20px 60px 20px 30px;
  background-color: white;
  border: 0;
  border-radius: 7px;
  text-align: left;
  cursor: pointer;
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.acardionHeader:hover,
.acardionHeader:focus {
  color: rgba(106, 174, 85, 1);
}

.acardionBody {
  padding: 20px 30px 25px 30px;
  background-color: white;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  color: #393939;
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.acardionCollapse {
  height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.acardionCollapse.open {
  max-height: 100px;
}

.diviner {
  border: 1px solid rgba(224, 224, 224, 1);
}
