.container {
  width: 1440px;
  display: flex;
  gap: 20px;
  margin: 0 auto;
  margin-top: 20px;
}

.title {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 28px;
}

.basketTitle {
  font-family: var(--font-karton);
}

.btn {
  background-color: #62b15c;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 0.3s ease;
  display: block;
  margin-left: auto;
  margin-bottom: 50px;
}

.btn:hover {
  background-color: var(--text-green);
}
