@media only screen and (min-width: 1130px) {
  .basketContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 30px;
  }
}

/* .leftSide {
  width: 640px;
} */

.rightSide {
  margin-bottom: 30px;
}

.title {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 28px;
  text-align: center;
  font-family: var(--font-karton);
}

.btn {
  background-color: #62b15c;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 0.3s ease;
  display: block;
  margin-left: auto;
  margin-bottom: 50px;
}

.btn:hover {
  background-color: var(--text-green);
}

.hiddenWrapper {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.35s ease, opacity 0.25s ease;
}

.visible {
  max-height: 500px; /* достатньо для твого блоку */
  opacity: 1;
}

.hidden {
  max-height: 0;
  opacity: 0;
}
