.passwordContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.changeContainer {
  background-color: white;
  border-radius: 10px;
}

.labelForm {
  display: flex;
  flex-direction: column;
}

.passwordName {
  padding-bottom: 10px;

  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
}

.inputForm {
  width: 263px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 5px;
  background: rgba(250, 250, 250, 1);

  margin-bottom: 12px;
}

.title {
  padding-top: 21px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

@media only screen and (min-width: 768px) {
  .title {
    text-align: none;
  }
}

.btnContainer {
  display: flex;
  gap: 12px;
  margin-bottom: 30px;
}

.btnOne {
  box-sizing: border-box;
  border: 1px solid rgba(189, 189, 189, 1);
  border-radius: 5px;
  cursor: pointer;
}

.nameOneBtn {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;

  color: rgba(189, 189, 189, 1);
  padding: 11px 30px 11px 33px;
}

.btnTwo {
  border-radius: 5px;
  background: rgba(106, 174, 85, 1);
  border: 1px solid rgba(106, 174, 85, 1);
  cursor: pointer;
}

.nameTwoBtn {
  color: rgba(255, 255, 255, 1);
  font-family: var(--font-literal);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  padding: 11px 22px;
}
