.discoutTitle {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 30px;

  color: var(--text-chocolate);
  font-family: var(--font-karton);

  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

@media only screen and (min-width: 768px) {
  .discoutTitle {
    text-align: unset;
  }
}

.textNote {
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: var(--text-green);
  font-family: var(--font-literal);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.discountList {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  list-style: none;
  margin-bottom: 50px;
}

.discountList li {
  font-size: 18px;
  line-height: 1.7;
  color: #333;
  margin-bottom: 18px;
  background: #faf6fc; /* Легкий рожево-лавандовий відтінок */
  padding: 18px 22px;
  border-radius: 12px;
  border-left: 5px solid var(--text-green); /* Акцентна фіолетова */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  transition: 0.25s ease;

  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.discountList li:hover {
  background: #f2e6f7;
  transform: translateY(-2px);
}
