.container {
  background: #fff;
  border-radius: 12px;
  /* padding-top: 30px; */
  /* padding-left: 30px; */
  /* padding-bottom: 40px; */
  padding: 10px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  text-align: center;
}

.container h3 {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .container h3 {
    text-align: left;
    margin-bottom: 20px;
  }
}

.textPosition {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 24px;
}

.recipientOrder {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}

.radioOption,
.activeRadio {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  cursor: pointer;
}

.hiddenRadio {
  display: none;
}

.customRadio {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: inline-block;
  position: relative;
  flex-shrink: 0;
}

.activeRadio .customRadio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #6aaa49;
  transform: translate(-50%, -50%);
}

.nameAndMobile {
  padding-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .nameAndMobile {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}

.cityContainer {
  padding-bottom: 24px;
}

@media only screen and (min-width: 768px) {
  .cityContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
  }
}

.labelName {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 12px;
}

.inputStyle {
  display: block;
  margin-top: 12px;
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 5px;
  background: rgba(250, 250, 250, 1);
  width: 100%;
  height: 40px;
  padding-left: 10px;
}

@media only screen and (min-width: 768px) {
  .inputStyle {
    width: 300px;
  }
}

.labelPosition {
  display: flex;
  flex-direction: column;
}

.noteStyle {
  width: 100%;
  height: 90px;
  display: block;
  margin-top: 12px;
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 5px;
  background: rgba(250, 250, 250, 1);
  padding-left: 10px;
  padding-top: 5px;
  resize: none;
}

@media only screen and (min-width: 768px) {
  .noteContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 1130px) {
  .noteContainer {
    padding-left: 0px;
    padding-right: 0px;
  }
}
