.listContainer {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.card {
  width: 250px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.photo {
  width: 250px;
  height: 242px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.title {
  padding: 0 20px;
  margin-bottom: 16px;
}

.price {
  padding: 0 20px;
}

.size {
  padding-left: 5px;
  padding-top: 15px;
}

.button {
  width: 223px;
  height: 40px;
  border-radius: 10px;
  margin: 20px;
}
