.navbarContainer {
  display: flex;
  justify-content: space-between;

  /* width: 1440px; */
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 108px;
  width: 1440px;
  font-family: var(--font-literal);
  color: var(--Brown, rgba(91, 74, 88, 1));
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}

.iconHome {
  width: 102px;
  height: 84px;
}

.orderContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}
