.navbarContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 108px;
  width: 100%;
  font-family: var(--font-literal);
  color: var(--Brown, rgba(91, 74, 88, 1));
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}

.navbar li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 90px;
}

.iconHome {
  width: 100px;
  height: 85px;
}

.orderContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}
