.flowerPhoto {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .flowerPhoto {
    margin: 0;
    width: 330px;
    height: 330px;
  }
}

@media only screen and (min-width: 1130px) {
  .flowerPhoto {
    margin: 0;
    width: 200px;
    height: 200px;
  }
}

.itemContainer {
  margin: 0 auto;
  /* width: 400px; */
  gap: 20px;

  padding: 10px;

  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
}

@media only screen and (min-width: 768px) {
  .itemContainer {
    width: 600px;
  }
}

.bouquetCardContainer {
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .bouquetCardContainer {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1130px) {
  .bouquetCardContainer {
    display: flex;
    justify-content: start;
    gap: 30px;
  }
}

.textBouquet {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .textBouquet {
    align-items: center;
    /* justify-content: center; */
    padding-right: 25px;
    padding-top: 50px;
  }
}

@media only screen and (min-width: 1130px) {
  .textBouquet {
    align-items: start;
  }
}

.titleBouquet {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.priceBouquet {
  color: var(--text-gray);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.divider {
  width: 100%;
  height: 1px;
  margin-bottom: 20px;
  background: rgba(230, 224, 224, 1);
}

.itemInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .itemInfo {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (min-width: 1130px) {
  .itemInfo {
    padding-left: 20px;
    padding-right: 50px;
  }
}

.totalPriceContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quantityBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
}

.quantityContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.removeBtn {
  background-color: var(--text-chocolate);
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media only screen and (min-width: 1130px) {
  .removeBtn {
    margin-left: 20px;
    margin-right: auto;
  }
}
