.basketList {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  flex-direction: column;
  gap: 20px;
}

.emptyBasket {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  margin-bottom: 10px;
}

.priceText {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  text-align: end;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.totalPriceContainer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .totalPriceContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.totalPriceText {
  color: var(--text-gray);

  font-family: var(--font-literal);
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}

.emptyBasketLine {
  background-color: var(--text-gray);
  height: 1px;
}
