.basketList {
  display: flex;
  margin-bottom: 25px;
  flex-direction: column;
  gap: 20px;
}

.emptyBasket {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.priceText {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  text-align: end;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.totalPriceText {
  color: var(--text-gray);

  font-family: var(--font-literal);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}
