.container {
  background: #fff;
  border-radius: 12px;
  padding: 20px 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 30px;
}

.container h3 {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 15px;
}

.textPosition {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.textPosition div {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.hiddenRadio {
  display: none;
}

.customRadio {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: inline-block;
  position: relative;
  flex-shrink: 0;
}

.activeRadio .customRadio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #6aaa49;
  transform: translate(-50%, -50%);
}
