.infoContainer {
  width: 1440px;
  display: flex;
  margin: 0 auto;
  gap: 20px;
  margin-bottom: 20px;
}

.navContainer {
  width: 263px;
  background-color: white;
  max-height: 404px;
  border-radius: 10px;
}

.titleStyle {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  color: rgba(130, 130, 130, 1);
  font-family: var(--text-literal);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}

.textStyle {
  padding-left: 20px;
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.textStyleLast {
  padding-left: 20px;
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}
