.titleStyle {
  color: var(--text-chocolate);
  font-family: var(--font-karton);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-top: 35px;
  margin-bottom: 45px;
}

.infoContainer {
  width: 1440px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.labelSize {
  padding-bottom: 20px;
}
