.container {
  display: flex;
  /* justify-content: space-between; */
  gap: 50px;
  width: 1440px;
  margin: 0 auto;
  padding-top: 36px;
}

.title {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 13px;
}

.sizeText {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 10px;
}

.mainImg {
  width: 450px;
  height: 420px;
  border-radius: 10px;
}
