.byIdContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
}

.title {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  margin-bottom: 13px;
}

.sizeText {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 10px;
}

.mainImg {
  width: 420px;
  height: 410px;
  border-radius: 10px;
}
