.orderContainer {
  text-align: center;
  font-family: var(--text-literal);
  margin: 60px auto;
  max-width: 1440px;
}

.steps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 100px;
}

.itemContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.titleContainer {
  margin-bottom: 50px;

  font-family: var(--font-karton);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.titleContainer span:first-child {
  color: #64b45f;
}

.stepText {
  color: var(--text-green);
  font-family: var(--text-literal);
  text-align: left;
}

.stepText h3 {
  font-size: 20px;
  font-weight: 700;
  color: #64b45f;
  margin-bottom: 8px;
}

.stepText p {
  color: var(--text-chocolate);
  font-family: var(--text-literal);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  font-size: 16px;
  line-height: 1.4;
}
