.order {
  text-align: center;
  font-family: var(--text-literal);
  margin: 60px auto;
  max-width: 1440px;
}

.orderTitle {
  font-family: var(--font-karton);
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0%;
}

.orderTitle span {
  color: #64b45f;
}

.steps {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px 100px;
}

.step {
  display: flex;
  align-items: center;
  gap: 24px;
}

.stepImage {
  position: relative;
  flex-shrink: 0;
}

.stepNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  font-weight: 600;
  color: #4c3f4c;
}

.stepText {
  color: var(--text-green);
  font-family: var(--text-literal);
  text-align: left;
}

.stepText h3 {
  font-size: 20px;
  font-weight: 700;
  color: #64b45f;
  margin-bottom: 8px;
}

.stepText p {
  color: var(--text-chocolate);
  font-family: var(--text-literal);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  font-size: 16px;
  line-height: 1.4;
}
