.orderContainer {
  text-align: center;
  font-family: var(--text-literal);
  /* max-width: 1440px; */
  padding-bottom: 40px;
  padding-top: 40px;
}

.steps {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media only screen and (min-width: 768px) {
  .steps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px 100px;
    flex-direction: initial;
  }
}

.titleContainer {
  margin-bottom: 50px;

  font-family: var(--font-karton);
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
}

.titleContainer span:first-child {
  color: #64b45f;
}

@media only screen and (min-width: 1130px) {
  .titleContainer {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
  }
}

.stepText {
  color: var(--text-green);
  font-family: var(--text-literal);
  text-align: left;
}

.stepText h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #64b45f;
  margin-bottom: 8px;
}

.stepText p {
  color: var(--text-chocolate);
  font-family: var(--text-literal);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
}

@media only screen and (min-width: 1130px) {
  .orderContainer {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .stepItem {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .stepText h3 {
    text-align: left;
  }

  .stepText p {
    text-align: left;
  }
}
