.bonusContainer {
  padding-top: 30px;
  width: 100%;
}

@media only screen and (min-width: 1130px) {
  .bonusContainer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.spanColor {
  color: var(--text-green);
}

.img {
  display: block;

  width: 140px;
  height: 140px;

  margin: 0 auto;
  margin-bottom: 10px;
}

.slide {
  padding-bottom: 30px;
}

.text {
  text-align: center;
}

:global(.swiper-pagination) {
  bottom: 0px !important;
}

:global(.swiper-pagination-bullet) {
  background: var(--text-green) !important;
}

/* swiper-pagination-bullet swiper-pagination-bullet-active */
