.bonusList {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  font-family: var(--font-literal);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: var(--text-chocolate);
}

.bonusList li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BonusContainer {
  padding-top: 100px;
  padding-bottom: 110px;
  background-color: white;
  margin: 0 auto;
}

.spanColor {
  color: var(--text-green);
}

.bonusImg {
  width: 140px;
  height: 140px;
}
