.mainContent {
  display: flex;
  gap: 35px;
  justify-content: space-between;
  width: 1440px;
  margin: 0 auto;
}

.homeContainer {
  width: 100%;
  padding-top: 100px;
  background-color: #f2f2f2;
}

.noData {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-literal);
  font-size: 24px;
  padding-top: 50px;
  padding-bottom: 50px;
}
