.contactsContainer {
  display: flex;

  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 30px;
  color: var(--text-chocolate);
  font-family: var(--font-karton);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  background-color: rgba(249, 248, 251, 1);
}

@media only screen and (min-width: 1130px) {
  .contactsContainer {
    justify-content: center;
  }
}
