.sortContainer {
  /* width: 1440px; */
  margin: 0 auto;
  height: 50px;
  margin-bottom: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 20px;
}

.sortBtn {
  border: none;
  background-color: white;
  color: rgba(189, 189, 189, 1);
  font-family: var(--text-literal);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  cursor: pointer;
}

.sortBtn:focus {
  color: var(--text-chocolate);
  text-decoration: underline;
}

.sortBtn:hover {
  color: var(--text-chocolate);
  text-decoration: underline;
}

.sorting {
  color: rgba(130, 130, 130, 1);
  font-family: var(--text-literal);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  padding-left: 20px;
}
