.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
}

.spanStyle {
  margin-bottom: 10px;
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
}

.rating {
  justify-content: space-between;
  align-items: center;
}

.ratingContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .ratingContainer {
    justify-content: unset;
  }
}

.btnStyle {
  background-color: #62b15c;
  color: #fff;
  border: none;
  padding: 9px 65px;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s ease;

  margin: 0 auto;
  margin-bottom: 35px;
  display: flex;
}

.btnStyle:hover,
.btnStyle:focus {
  background-color: var(--text-green);
}

.textarea {
  padding-left: 15px;
  padding-top: 10px;
  height: 80px;
  resize: none;
  border-radius: 10px;
  outline: none;
  margin-bottom: 20px;
}
