.container {
  width: 1440px;
  margin: 0 auto;
}

.orderContainer {
  width: 874px;
  height: 458px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  padding: 20px;
  margin-bottom: 20px;
}
