.container {
  width: 1440px;
  margin: 0 auto;
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
  height: 458px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 1);
  padding: 20px;
  margin-bottom: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px 16px;
  text-align: left;
}

th {
  background-color: #f5f5f5;
  font-weight: 500;
}

tr {
  border-bottom: 1px solid #e0e0e0;
}

tr.orderHeader {
  background-color: #fafafa;
}

td > div {
  margin-bottom: 4px;
}

.delivered {
  color: green;
  font-weight: 600;
}

.paid {
  color: orange;
  font-weight: 600;
}

.processing {
  color: #2f3eb1;
  font-weight: 600;
}

.spanStyle {
  color: rgba(130, 130, 130, 1);
  font-family: Literal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: right;
}

.pStyle {
  color: var(--chocolate);

  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.price {
  color: var(--chocolate);

  font-family: Literal;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  /* text-align: right; */
}
