body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
  text-decoration: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}
a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Literal";
  src: url("/fonts/Literal-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Karton2";
  src: url("/fonts/Karton-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-literal: "Literal", sans-serif;
  --font-karton: "Karton2", sans-serif;
  --text-green: rgba(106, 174, 85, 1);
  --text-chocolate: rgba(91, 74, 88, 1);
  --text-gray: rgba(79, 79, 79, 1);
  --back-color: background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  --bord-color: border-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

body {
  background-color: #f9f9fb;
}
