body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
  text-decoration: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
}
a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Literal";
  src: url("/fonts/Literal-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Karton2";
  src: url("/fonts/Karton-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-literal: "Literal", sans-serif;
  --font-karton: "Karton2", sans-serif;
  --text-green: rgba(106, 174, 85, 1);
  --text-chocolate: rgba(91, 74, 88, 1);
  --text-gray: rgba(79, 79, 79, 1);
  --back-color: background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  --bord-color: border-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

body {
  background-color: #f9f9fb;
}

/* !--- Custom Radio Button Styling --- */

.labelContainer {
  display: block;
  position: relative;
  /* padding-left: 35px; */
  /* margin-right: 35px; */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.labelContainer input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.customRadio {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: inline-block;
  position: relative;
  flex-shrink: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.labelContainer:hover input ~ .customRadio {
  background-color: #ccc;
  /* bground-color: teal; */
}
.labelContainer input:checked ~ .customRadio {
  background-color: #2196f3;
  background-color: #6aaa49;
}

.customRadio:after {
  content: "";
  position: absolute;
  inset: 0; /* займає весь елемент */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  display: none; /* або block, якщо потрібно показати */
}
.labelContainer input:checked ~ .customRadio:after {
  display: block;
}

/* !--- Custom Radio Button Styling --- */
