.topHeader {
  background: var(--Brown, rgba(91, 74, 88, 1));
}

.header {
  background-color: #f2f2f2;
}

.topHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.city {
  color: var(--text-green);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  padding-left: 11px;
  padding-right: 3px;
}

.location {
  display: none;

  align-items: center;
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-literal);
  line-height: 19px;
  color: white;

  /* flex: 1; */
}

@media only screen and (min-width: 768px) {
  .location {
    display: inline-block;
    width: auto;
  }
}

.contacts {
  /* display: flex; */
  /* align-items: center; */
  /* gap: 11px; */

  /* flex: 1; */
}

.basket {
  display: flex;
  align-items: center;
  /* gap: 10px; */

  /* flex: 1; */
  /* justify-content: flex-end; */
}

.telegram {
  display: flex;
  color: white;
  font-weight: var(--font-literal);
  font-size: 8px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.phone {
  color: rgba(255, 255, 255, 1);
  font-family: var(--font-literal);

  font-size: 14px;
  line-height: 17px;

  font-weight: 700;
  letter-spacing: 0%;
}

@media only screen and (min-width: 768px) {
  .phone {
    font-size: 16px;
    line-height: 19px;
  }
}

.cash {
  color: white;
  font-family: var(--font-literal);
  margin-left: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
}

@media only screen and (min-width: 768px) {
  .cash {
    font-size: 16px;
  }
}

.icon {
  width: 12px;
  height: 12px;
}

.language {
  /* margin-left: 25px; */
  display: none;
}

@media only screen and (min-width: 768px) {
  .language {
    margin-left: 20px;
    display: inline-block;
    color: white;
    font-family: var(--font-literal);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
  }
}
