.profileLayoutContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #ffffff;
  border-radius: 10px;
}

.reviewsTitle {
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  color: var(--text-chocolate);
  font-family: var(--font-karton);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
}
