.flowerPhoto {
  width: 263px;
  height: 242px;
  border-radius: 10px;
  margin-bottom: 16px;
}

.itemContainer {
  width: 263px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.textBouquet {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 16px;
}

.priceBouquet {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}

.priceSpan {
  color: rgba(130, 130, 130, 1);

  font-family: var(--font-literal);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
}

.bouquetBtn {
  width: 223px;
  height: 40px;
  border: 1px solid rgba(106, 174, 85, 1);
  border-radius: 10px;
  background: rgba(106, 174, 85, 1);
  color: rgba(255, 255, 255, 1);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.positionPrice {
  display: flex;
  justify-content: space-between;
}

.size {
  color: rgba(130, 130, 130, 1);
  font-family: var(--font-literal);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  padding-left: 5px;
  padding-top: 15px;
}
