.subtitle {
  color: var(--text-chocolate);
  font-family: var(--font-karton);

  font-size: 35px;
  font-weight: 400;
  line-height: 48px;

  margin-bottom: 30px;
}

@media only screen and (min-width: 480px) {
  .subtitle {
    font-size: 45 px;
    font-weight: 500;
  }
}

.mainTitle {
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;

  font-family: var(--font-karton);
  color: var(--text-chocolate);
}

@media only screen and (min-width: 480px) {
  .mainTitle {
    font-size: 28px;
    font-weight: 500;
  }
}

.container {
  /* background-image: url("/public/images/backfoto.png"); */
  background-size: cover;
  height: 365px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.span {
  color: var(--text-green);
}

.button {
  width: 210px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--text-green);
  border: 1px solid var(--text-green);
  color: rgba(255, 255, 255, 1);
  font-family: var(--font-literal);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  transition: var(--back-color), var(--bord-color);
  cursor: pointer;
}

.button:hover {
  background-color: var(--text-chocolate);
  border: 1px solid var(--text-chocolate);
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
