.inputFormContainer {
  background-color: white;
  display: flex;
}

.formContainer {
  padding: 24px 30px 24px 0px;
  /* display: flex;
  gap: 20px; */
}

@media only screen and (min-width: 768px) {
  .formContainer {
    padding: 24px 30px 24px 50px;
  }
}

@media only screen and (min-width: 1130px) {
  .formContainer {
    padding: 24px 30px 24px 30px;
  }
}

.inputSize {
  width: 327px;
  height: 40px;
}

.inputSize {
  display: flex;
  flex-direction: column;
  width: 290px;
  padding-left: 15px;
  margin-bottom: 15px;
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 5px;
  background: rgba(250, 250, 250, 1);
}

@media only screen and (min-width: 1130px) {
  .inputSize {
    width: 330px;
  }
}

.spanName {
  display: block;
  margin-bottom: 10px;
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
}

.areaContainer {
  align-items: flex-end;
  padding-bottom: 15px;
  height: auto;
  display: block;
}

.areaStyle {
  resize: none;
  min-width: 290px;
  height: 150px;
  padding-left: 15px;
  padding-top: 15px;
  box-sizing: border-box;
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  border: 1px solid rgba(224, 224, 224, 1);
  border-radius: 5px;
  background: rgba(250, 250, 250, 1);
}

@media only screen and (min-width: 1130px) {
  .areaStyle {
    min-width: 700px;
    height: 150px;
  }
}

.buttonStyle {
  display: flex;
  margin: 0 auto;
  background-color: #62b15c;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s ease;
}

@media only screen and (min-width: 1130px) {
  .buttonStyle {
    display: block;
    margin-left: auto;
  }
}

.containerInput {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .containerInput {
    flex-direction: row;
  }
}

.titleStyle {
  text-align: center;
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding-top: 21px;
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  padding-left: 65px;
  padding-right: 65px;
}

@media only screen and (min-width: 1130px) {
  .titleStyle {
    font-size: 18px;
  }
}
