.form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.checkboxGroup {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 20px;
  margin-bottom: 15px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 6px;
}
