.form {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.label {
  width: 196px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.2s;
}

input:checked + .label {
  border: 1px solid var(--text-green);
}

.info {
  display: flex;
  flex-direction: column;
}

.infoText {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.infoPrice {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

.customRadio {
  width: 20px;
  height: 20px;
  border: 2px solid #bbb;
  border-radius: 50%;
  position: relative;
  transition: border-color 0.2s;
}

input:checked + .label .customRadio {
  border-color: var(--text-green);
}

input:checked + .label .customRadio::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background: var(--text-green);
  border-radius: 50%;
}
