.container {
  background: #fff;
  border-radius: 12px;
  /* padding-left: 30px; */
  /* padding-bottom: 40px; */
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.container h3 {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .container h3 {
    text-align: left;
    margin-bottom: 20px;
  }
}

/* .textPosition {
  display: flex;
  gap: 95px;
  align-items: flex-start;
} */

.textPosition {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media only screen and (min-width: 1130px) {
  .textPosition {
    flex-direction: row;
    justify-content: space-between;
  }
}

.hStyle {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

.textPosition div {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
}

/* .hiddenRadio {
  display: none;
}

.customRadio {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: inline-block;
  position: relative;
  flex-shrink: 0;
}

.radioOption .customRadio {
  border-color: #e0e0e0;
  background-color: white;
}

.activeRadio .customRadio {
  border-color: #6aaa49;
  background-color: white;
}

.activeRadio .customRadio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #6aaa49;
  transform: translate(-50%, -50%);
} */
/* !--- Custom Radio Button Styling --- */

.labelContainer {
  display: flex;
  position: relative;
  /* padding-left: 35px; */
  /* margin-right: 35px; */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.labelContainer input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.customRadio {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid #ccc;
  display: inline-block;
  position: relative;
  flex-shrink: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.labelContainer:hover input ~ .customRadio {
  background-color: #ccc;
  /* bground-color: teal; */
}
.labelContainer input:checked ~ .customRadio {
  background-color: #2196f3;
  background-color: #6aaa49;
}

.customRadio:after {
  content: "";
  position: absolute;
  inset: 0; /* займає весь елемент */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  display: none; /* або block, якщо потрібно показати */
}
.labelContainer input:checked ~ .customRadio:after {
  display: block;
}

/* !--- Custom Radio Button Styling --- */
