.orderActionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  .orderActionsContainer {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1130px) {
  .orderActionsContainer {
    justify-content: center;
    align-items: center;
  }
}
.counter {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .counter {
    justify-content: start;
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media only screen and (min-width: 1130px) {
  .counter {
    margin-bottom: 0px;
  }
}

.decrement {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;

  outline: none;
  border: none;
  padding: 6px;
  background-color: rgba(224, 224, 224, 1);
  cursor: pointer;
}

.increment {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  outline: none;
  border: none;
  padding: 6px;
  background-color: var(--text-green);
  border-radius: 4px;
  cursor: pointer;
}

.price {
  color: var(--text-green);

  font-family: var(--font-literal);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.totalPrice {
  color: var(--text-chocolate);
  font-family: var(--font-literal);
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.orderBtn {
  /* min-width: 150px; */
  outline: none;
  border: none;
  padding: 8px 16px 8px 16px;
  color: white;
  background-color: var(--text-green);
  border-radius: 10px;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.icon {
  margin-right: 20px;
  color: white;
}

.priceAndBtnContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .priceAndBtnContainer {
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1130px) {
  .priceAndBtnContainer {
    gap: 20px;
  }
}
